TELEGRAM_BOT_TOKEN=

LBANK_SPOT_API_KEY=
LBANK_SPOT_SECRET_KEY=
LBANK_SPOT_RSA_PRIVATE_BASE64=
LBANK_SPOT_RSA_PUBLIC_BASE64=

LBANK_PERP_API_KEY=
LBANK_PERP_SECRET_KEY=
LBANK_PERP_RSA_PRIVATE_BASE64=
LBANK_PERP_RSA_PUBLIC_BASE64=

FERNET_KEY=

DB_URL=sqlite+aiosqlite:///./data/app.db

ADMIN_TELEGRAM_USER_IDS=123456789
IP_WHITELIST=127.0.0.1,::1

APP_ENV=prod
APP_TIMEZONE=UTC
